<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/" method="post">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name" value="Prince"><br>
    <label for="street">street:</label><br>
    <input type="text" id="street" name="street" value="Vikariestr."><br><br>
    <label for="houseNumber">House Number:</label><br>
    <input type="text" id="houseNumber" name="houseNumber" value="1"><br><br>
    <label for="postalCode">Postal Code:</label><br>
    <input type="text" id="postalCode" name="postalCode" value="46117"><br><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" value="Oberhausen"><br><br>
    <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>